env/
.venv/
venv/
ENV/
__pycache__/
*.pyc
.env

.DS_Store
node_modules/

frontCrops/eas.json
frontCrops/node_modules
frontCrops/.env
frontCrops/.env.local
frontCrops/.expo/

backend/.env
backend/venv
backend/__pycache__
backend/instance
