aws_region         = "us-east-1"
instance_type      = "t3.xlarge"
volume_size_gb     = 120
ssh_cidr           = "203.0.113.10/32" # TODO: your public IPv4 /32
key_name           = "my-ec2-keypair"  # TODO: key pair name in this region
api_allowed_cidrs  = ["0.0.0.0/0"]
